@model IEnumerable<MusicShop.com.Models.Price>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<style>
    body {
        background-color: lightgreen;
    }
</style>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.digitalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vinylPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cdPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.digitalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vinylPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cdPrice)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
